body {
  background-image: url("../assets/img/default.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body h1 {
  font-size: 4rem;
}

body #searchContainer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #searchContainer input {
  margin-right: 1rem;
  width: 25rem;
  background-color: #ddd;
  border: none;
}

body #searchContainer input::-webkit-input-placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer input:-ms-input-placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer input::-ms-input-placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer input::placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer button {
  width: 10rem;
  font-weight: bold;
  cursor: pointer;
  background: #00ff00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #searchContainer button:hover {
  background: #00d200;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 2rem;
}

body #searchContainer .searchControl {
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border: none;
  border-radius: 0.2rem;
  height: 3rem;
}

body #weatherContainer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  padding: 4rem;
  border-radius: 0.4rem;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

body #weatherContainer h1 {
  font-size: 2.5rem;
}

body #weatherContainer #temperature {
  font-size: 3rem;
}

body #weatherContainer #weatherMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
}

body #weatherContainer #weatherDescription #documentIconImg {
  width: 4rem;
}

body #weatherContainer .bottomDetails {
  margin: 1rem;
}
/*# sourceMappingURL=style.css.map */