body {
  background-image: url("../assets/img/default.jpg");
  background-color: #49c5e1;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body #title {
  font-size: 3rem;
  text-align: center;
  margin: 4rem 1rem;
}

body #searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #searchContainer input {
  margin-right: 1rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: hidden;
}

body #searchContainer input::-webkit-input-placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer input:-ms-input-placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer input::-ms-input-placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer input::placeholder {
  padding-left: 0.1rem;
  color: #a9a9a9;
}

body #searchContainer button {
  width: 8rem;
  font-weight: bold;
  font-style: italic;
  font-size: 1.1rem;
  cursor: pointer;
  background: #00ff00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
}

body #searchContainer button:hover {
  background: #00d200;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body #searchContainer .searchControl {
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border: none;
  border-radius: 0.2rem;
  height: 3rem;
  margin-bottom: 2rem;
}

body #weatherContainer {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  padding: 1rem 4rem;
  border-radius: 0.4rem;
  visibility: hidden;
  text-align: center;
  margin-bottom: 1rem;
}

body #weatherContainer h1 {
  font-size: 1.2rem;
}

body #weatherContainer #weatherDescription #subTemperatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
}

body #weatherContainer #temperature {
  font-size: 3rem;
}

body #weatherContainer #weatherMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
}

body #weatherContainer #weatherDescription #documentIconImg {
  width: 4rem;
}

body #weatherContainer .bottomDetails {
  margin: 1rem;
}

body footer {
  bottom: 0;
}

@media only screen and (min-width: 750px) {
  body #title {
    font-size: 5rem;
  }
  body #searchContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #searchContainer button:hover {
    margin-left: 2rem;
  }
  body #weatherContainer h1 {
    font-size: 2rem;
  }
  body footer {
    position: absolute;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */